#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  box-shadow: 2px 0 40px rgba(0, 0, 0, 0.644);

}


.logo {
  height: 5em;
  padding: .7em;
  will-change: filter;
  transition: filter 1000ms;
  filter: saturate(1%);
}

.logo.empyrean:hover{
  filter: saturate(700%);
  /* filter: drop-shadow(0 0 2em #61dafbaa); */
}

.side-nav {
  position: fixed;
  top: 0;  bottom: 0;  left: 0;
  flex-direction: column;
  display: flex;
  padding-top: 1cm;
  background-color:#0d0d28;
  box-shadow: 2px 0 4px rgba(0, 0, 0, 0.644);
  border-radius: 0%;
}

.side-nav-button {
  background-color: transparent;
  color: #5C5C8E;
  margin-top: 10px;
  margin-left: 10px;
  margin-right: 10px;
}

.side-nav-button:hover{
  background-color:#070720;
  border-color: #070720;
  border-radius: 3px;

}

.side-nav-button:focus {
  background-color: #3273fa;
  color: #FFFFFF;
  border-color: #070720;
  border-radius: 3px;

}
 




/* rotate un element à l'infini
 @keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}
